node_modules
.next
out
dist
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.git
.gitignore
docker-compose*.yml
*.env
*.env.local
*.env.*.local
.env*.local
**/tests/**
.DS_Store
*.log
coverage
.vercel
.cache
.vscode
.idea
*.md
docs
README.md
.eslintcache
tsconfig.tsbuildinfo

