@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont;
}


